@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #000;
}

ul,
ol {
    list-style: none;
}

img {
    width: 100%;
    pointer-events: none;
}

.btn {
    width: 145px;
    height: 40px;
    border: 1px solid #fff;
    color: #ce3745;
    cursor: pointer;
    z-index: 0;
    position: relative;
    transition: .4s;
}

.btn:hover {
    color: #fff;
}

.btn::before {
    position: absolute;
    content: '';
    transition: .4s;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: -1;
    background-color: #ce3745;
}

.btn:hover::before {
    height: 100%;
}

.container {
    width: 1170px;
    margin: auto;
}

::-webkit-scrollbar {
    width: 2px;
}

 ::-webkit-scrollbar-track {
    background: 0;
}

 ::-webkit-scrollbar-thumb {
    background: #ce3745;
}

section {
    width: 100%;
    overflow: hidden;
}

header.fixed {
    background-color: #242424cc;
    position: fixed;
    height: 70px;
    top: 0;
    left: 0;
    z-index: 11;
}

header.fixed .logo {
    width: 140px;
}

header.fixed nav ul {
    padding-top: 14px;
}

header {
    width: 100%;
    height: 97px;
    padding: 7px 0;
    background: 0;
    position: fixed;
    transition: 1s;
    z-index: 999;
}

header .logo {
    width: 200px;
    transition: 1s;
    float: left;
}

header nav {
    float: right;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background: #ce3745;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger {
    display: none;
}

header nav ul {
    padding-top: 30px;
    transition: 1s;
}

header nav ul li {
    display: inline-block;
    padding: 5px;
}

header nav ul li a {
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    transition: all .2s;
}

header nav ul li a:hover {
    color: #ce3745;
}

header nav ul li a.active {
    color: #ce3745;
}


/* .head-space {
    height: 97px;
} */

.banner-sec {
    margin-bottom: -4px;
}

.banner-sec .mySwiper {
    height: calc(100% - 0px);
}

.banner-sec img.mob {
    display: none;
}

.banner-sec .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: #fff;
}

.banner-sec .swiper-pagination-bullet-active {
    background: #ce3745;
    border: 3px solid #fff;
}

.cardio-sec {
    background-color: #1c1c1c;
    padding: 100px 0;
}

.cardio-sec ul.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cardio-sec ul.row li {
    width: 25%;
}

.cardio-sec ul.row li figure {
    width: 70px;
    margin: auto;
}

.cardio-sec ul.row li figcaption {
    text-align: center;
    padding-top: 20px;
}

.cardio-sec ul.row li figcaption h2 {
    color: #fff;
    font-size: 22px;
    font-family: 'roboto';
    text-transform: uppercase;
}

.why-sec {
    padding: 100px 0;
    background-color: #ce3745;
}

.why-sec .why-main {
    width: 76%;
    margin: auto;
    font-family: 'Roboto';
}

.why-sec .why-main .head {
    font-size: 30px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 12px;
    position: relative;
}

.why-sec .why-main .head::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 220px;
    height: 2px;
    background-color: antiquewhite;
}

.why-sec .why-main .para {
    color: #fff;
    padding-top: 40px;
    text-align: justify;
    line-height: 22px;
}

.video-sec {
    background: url(../images/video.jpg) no-repeat;
    background-position: center;
    background-size: 100%;
    height: 500px;
    position: relative;
}

.video-sec .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #20222480;
}

.video-sec .btun {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-sec .btun a i {
    font-size: 80px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #ce3745;
    border: 1px solid #ce3745;
}

.trainer-sec {
    padding: 100px 0;
    background-color: #1c1c1c;
}

.trainer-sec .head {
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-family: 'Roboto';
    padding-bottom: 15px;
    position: relative;
}

.trainer-sec .head::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 170px;
    height: 2px;
    background-color: #ce3745;
}

.trainer-sec ul.trainee {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.trainer-sec ul.trainee li {
    width: 23%;
    margin: 1%;
    overflow: hidden;
    position: relative;
}

.trainer-sec ul.trainee li:hover .info {
    bottom: 0;
    visibility: visible;
}

.trainer-sec ul.trainee li .info {
    position: absolute;
    bottom: -205px;
    width: 100%;
    height: 50%;
    padding: 40px;
    text-align: center;
    background-color: #ce3745;
    font-family: 'roboto';
    transition: 1s;
    visibility: hidden;
}

.trainer-sec ul.trainee li .info h3 {
    color: #fff;
    font-size: 22px;
}

.trainer-sec ul.trainee li .info p {
    padding: 5px 0 15px;
    color: #272727;
}

.counter-sec {
    padding: 100px 0;
    background-color: #ce3745;
}

.counter-sec .main ul.list {
    display: flex;
    flex-wrap: wrap;
}

.counter-sec .main ul.list li {
    width: 23%;
    margin: 1%;
    transition: .4s;
}

.counter-sec .main ul.list li figure {
    width: 100px;
    margin: auto;
}

.counter-sec .main ul.list li .cout {
    padding: 15px 0;
    font-weight: 300;
}

.counter-sec .main ul.list li .cout,
.counter-sec .main ul.list li .word {
    text-align: center;
    color: #fff;
    font-family: 'roboto';
    font-size: 24px;
}

.testi-sec {
    padding: 100px 0;
    background: url(../images/bg-2.jpg) no-repeat;
    background-position: 100%;
    background-size: cover;
}

.testi-sec .testi-main .head {
    text-align: center;
    font-size: 30px;
    font-family: 'roboto';
    color: #fff;
    padding-bottom: 15px;
    position: relative;
}

.testi-sec .testi-main .head::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    height: 2px;
    background-color: #ce3745;
}

.testi-sec .testi-main .testimonial {
    position: relative;
    padding-bottom: 60px;
}

.testi-sec .testi-main .testimonial .test {
    display: flex;
    align-items: center;
    padding: 0 30px;
    padding-top: 50px;
}

.testi-sec .testi-main .testimonial .test figure {
    width: 600px;
}

.testi-sec .testi-main .testimonial .test figure img {
    border-radius: 50%;
}

.testi-sec .testi-main .testimonial .test .content {
    color: #fff;
    font-family: 'Roboto';
    padding-left: 50px;
}

.testi-sec .testi-main .testimonial .test .content p {
    line-height: 24px;
}

.testi-sec .testi-main .testimonial .test .content h4 {
    color: #ce3745;
    padding-top: 20px;
    font-size: 24px;
}

.testimonial .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: #fff;
}

.testimonial .swiper-pagination-bullet-active {
    background: #ce3745;
    border: 3px solid #fff;
}

.gallery ul.fance {
    display: flex;
    flex-wrap: wrap;
}

.gallery ul.fance li {
    position: relative;
    width: 25%;
}

.gallery ul.fance li:hover .ico {
    opacity: 1;
    visibility: visible;
}

.gallery ul.fance li figure {
    margin-bottom: -4px;
    overflow: hidden;
}

.gallery ul.fance li figure img {
    transition: .4s;
}

.gallery ul.fance li:hover figure img {
    transform: scale(1.2);
}

.gallery ul.fance li .ico {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .4s;
    opacity: 0;
    visibility: hidden;
}

.gallery ul.fance li:hover .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000078;
}

.gallery ul.fance li .ico i {
    color: #fff;
    border: 1px solid #ce3745;
    background-color: #ce3745;
    padding: 15px;
    border-radius: 50%;
    font-size: 18px;
    transition: .4s;
    opacity: .8;
    cursor: pointer;
}

.gallery ul.fance li .ico i:hover {
    background-color: transparent;
    color: #ce3745;
}

.get_in_touch {
    padding: 50px 0;
    background: #1c1c1c;
    position: relative;
    overflow: hidden;
}

.get_in_touch::before {
    content: '';
    position: absolute;
    background: url(../images/bgcontact.jpg) no-repeat;
    width: 100%;
    height: 248px;
    top: 0;
    left: 0;
    z-index: 0;
    background-size: 100% 70%;
}

.get_in_touch .head {
    text-align: center;
    font-size: 30px;
    font-family: 'roboto';
    color: #fff;
    padding-bottom: 15px;
    position: relative;
}

.get_in_touch .head::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    height: 2px;
    background-color: #ce3745;
}


/* .get_in_touch h2 {
    position: relative;
    font-size: 70px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: 'tungsten';
} */

.get_in_touch .form_contact {
    margin-top: 50px;
}

.get_in_touch h3 {
    font-size: 40px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    z-index: 0;
    position: relative;
    font-family: 'Khand', sans-serif;
}

.get_in_touch .form_contact h4 {
    color: #fff;
    font-size: 20px;
    margin-left: 26px;
}

.get_in_touch .form_contact .form_main {
    width: 46%;
    margin: 1% 2%;
    float: left;
}

.form_main .iti {
    width: 100%;
    position: relative;
}


/* .form_contact .form_main .form_in input.phone {
    padding-left: 50px;
} */

.get_in_touch .form_contact .form_main .form_in {
    width: 100%;
    position: relative;
}

.get_in_touch .form_contact .form_main .form_in .show-error-msg,
.get_in_touch .form_contact .form_main .form_in .iti .show-error-msg {
    position: absolute;
    left: 0;
    bottom: 5px;
    font-size: 12px;
    color: red;
}

.get_in_touch .form_contact .form_main .form_in .iti .show-error-msg {
    bottom: -15px;
}

.form_contact .form_main .form_in input,
.form_contact .form_main .form_in textarea {
    width: 100%;
    background: #1c1c1c;
    border: 1px solid #ce3745;
    height: 50px;
    margin-bottom: 20px;
    padding: 12px;
    color: #fff;
    border-radius: 4px;
    transition: 0.2s;
}

.form_contact .form_main .form_in input:focus,
.form_contact .form_main .form_in textarea:focus {
    outline: none;
    border: 2px solid #ce3745;
}

.form_contact .form_main .form_in input::placeholder,
.form_contact .form_main .form_in textarea::placeholder {
    color: #ce3745;
    font-family: 'roboto';
    font-size: 14px;
}

.form_contact .form_main .form_in textarea {
    height: 190px;
}

.form_contact .form_main .form_in.left {
    float: right;
    text-align: right;
}

.butn-com {
    position: relative;
}

.form_main .form_in.left .snd {
    background: none;
    border: 1px solid #ce3745;
    color: #ce3745;
    padding: 10px 25px;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    margin-right: 0;
    transition: 0.2s;
    position: relative;
    z-index: 0;
}

.form_main .form_in.left .snd:hover {
    color: #fff;
}

.form_main .form_in.left .snd::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: #ce3745;
    transform: scaleY(0);
    transform-origin: 50% 100%;
    transition: transform 0.3s ease-out;
    /* transition-timing-function: ease-out; */
}

.form_main .form_in.left .snd:hover::after {
    transform: scaleY(1);
    /* transition-timing-function: cubic-bezier(.52, 1.64, .37, .66); */
}

.top.affix {
    position: fixed;
    z-index: 2;
    visibility: visible;
}

.top {
    position: absolute;
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    transition: .4s;
    visibility: hidden;
    background-color: #434343;
}

.top:hover {
    opacity: .6;
}

.top i {
    color: #FFF;
    padding: 10px;
    font-size: 18px;
}

footer {
    padding-top: 80px;
    background-color: #171717;
}

footer .main {
    float: left;
    width: 100%;
}

footer .main .foot {
    width: 31.33%;
    float: left;
    padding: 10px;
    color: #fff;
    font-family: 'Roboto';
    font-size: 14px;
}

footer .main .foot .head {
    color: #ce3745;
    padding-bottom: 20px;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
}

footer .main .foot .head::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 60px;
    height: 2px;
    background-color: #fff;
}

footer .main .foot .flogo {
    width: 120px;
}

footer .main .foot .para {
    margin: 20px 0;
}

footer .main .foot .para .nav {
    display: flex;
    flex-wrap: wrap;
}

footer .main .foot .para .nav a {
    color: #fff;
    font-size: 14px;
    width: 50%;
    transition: .4s;
    display: block;
    padding: 7px 0;
    text-transform: uppercase;
}

footer .main .foot .para a:hover {
    color: #ce3745;
}

footer .main .foot .para .add {
    display: flex;
    padding: 10px 0;
}

footer .main .foot .para .add i {
    color: #ce3745;
}

footer .main .foot .para .add p {
    font-size: 14px;
    padding-left: 10px;
}

footer .main .foot .para .add p a {
    color: #fff;
    transition: .4s;
}

footer .main .foot .para .add p a:hover {
    color: #ce3745;
}

footer .main .foot .soc-icon {
    display: flex;
}

footer .main .foot .soc-icon .sc {
    margin: 0 10px;
}

footer .main .foot .soc-icon .sc.fb {
    margin-left: 0;
}

footer .main .foot .soc-icon .sc i {
    background-color: #434343;
    padding: 10px;
    font-size: 14px;
    border-radius: 50%;
    transition: 1s;
    color: #fff;
}

footer .main .foot .soc-icon .sc i:hover {
    transform: rotate(360deg);
}

footer .copyr {
    text-align: center;
    background: #131313;
    margin-top: 280px;
    padding: 30px;
}

footer .copyr h5 {
    color: #fff;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
}

footer .copyr h5 span {
    color: #ce3745;
}


/* youtube popup */

.grtyoutube-popup {
    background-image: url("../images/lca/loader.gif");
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    left: 0;
    z-index: 99999;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.5);
}

.grtyoutube-popup:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.grtyoutube-popup-content {
    width: 70%;
    height: 70%;
    vertical-align: middle;
    display: inline-block;
    position: relative;
}

.grtyoutube-popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #FFF;
    font-size: 25px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url("../images/lca/close.png") no-repeat;
    background-size: 20px;
}

.grtyoutube-iframe {
    width: 100%;
    height: 100%;
}


/* Responsive mobile */

@media (max-width: 767px) {
    .container {
        width: 90%;
    }
    .banner-sec .mySwiper {
        height: auto;
    }
    header {
        height: 65px;
    }
    header .logo {
        width: 120px;
    }
    header nav {
        transition: .4s;
    }
    header nav ul {
        position: fixed;
        top: 0;
        left: -400px;
        width: 100%;
        height: 100vh;
        z-index: 3;
        transition: .4s;
        background: #252525;
    }
    header nav ul li {
        display: block;
        transition: .4s;
        padding: 12px 24px;
        line-height: 3;
        text-align: center;
    }
    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 4%;
        top: 18px;
        z-index: 999999;
        transition: all 0.7s ease;
    }
    .banner-sec {
        margin-bottom: -4px;
    }
    .banner-sec img.desk {
        display: none;
    }
    .banner-sec img.mob {
        display: block;
    }
    .cardio-sec {
        padding: 50px 0;
    }
    .cardio-sec ul.row li {
        width: 50%;
        padding: 30px 0;
    }
    .cardio-sec ul.row li figure {
        width: 50px;
    }
    .cardio-sec ul.row li figcaption h2 {
        font-size: 16px;
    }
    .why-sec {
        padding: 50px 0;
    }
    .why-sec .why-main {
        width: 100%;
    }
    .why-sec .why-main .head {
        font-size: 28px;
    }
    .why-sec .why-main .head::after {
        width: 180px;
    }
    .why-sec .why-main .para {
        font-size: 14px;
        padding-top: 30px;
    }
    .video-sec {
        height: 230px;
    }
    .video-sec .btun a i {
        font-size: 50px;
        width: 50px;
        height: 50px;
    }
    .trainer-sec {
        padding: 50px 0;
    }
    .trainer-sec .head {
        font-size: 24px;
    }
    .trainer-sec .head::after {
        width: 140px;
    }
    .trainer-sec ul.trainee {
        padding-top: 30px;
    }
    .trainer-sec ul.trainee li {
        width: 100%;
        margin-bottom: 10px;
    }
    .counter-sec {
        padding: 0;
    }
    .counter-sec .main ul.list li {
        width: 48%;
        padding: 7%;
    }
    .counter-sec .main ul.list li figure {
        width: 70px;
    }
    .counter-sec .main ul.list li .cout,
    .counter-sec .main ul.list li .word {
        font-size: 20px;
    }
    .testi-sec {
        padding: 50px 0;
    }
    .testi-sec .testi-main .head {
        font-size: 22px;
    }
    .testi-sec .testi-main .testimonial .test {
        flex-wrap: wrap;
        padding: 0;
        text-align: justify;
    }
    .testi-sec .testi-main .testimonial .test figure {
        width: auto;
        margin: auto;
        padding: 40px 0 15px;
    }
    .testi-sec .testi-main .testimonial .test .content {
        padding: 0 12px;
    }
    .testi-sec .testi-main .testimonial .test .content h4 {
        text-align: center;
    }
    .gallery ul.fance li {
        width: 50%;
    }
    .gallery ul.fance li .ico i {
        font-size: 14px;
        padding: 10px;
    }
    .get_in_touch .head {
        font-size: 22px;
    }
    .get_in_touch .form_contact form {
        display: flex;
        flex-wrap: wrap;
    }
    .get_in_touch .form_contact .form_main {
        width: 100%;
    }
    .top {
        bottom: 20px;
        right: 20px;
    }
    footer {
        padding-top: 50px;
    }
    footer .main .foot {
        width: 100%;
    }
    footer .main .foot .para .nav {
        display: unset;
    }
    footer .main .foot:nth-child(2),
    footer .main .foot:nth-child(3) {
        width: 50%;
        margin-top: 30px;
    }
}


/*Animating Hamburger Icon on Click*/

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    width: 0;
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}