@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #000;
}

ul,
ol {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    width: 1170px;
    margin: auto;
}

::-webkit-scrollbar {
    width: 3px;
}

 ::-webkit-scrollbar-track {
    background: transparent;
}

 ::-webkit-scrollbar-thumb {
    background: #ce3745;
}

section {
    width: 100%;
    overflow: hidden;
}

header.fixed {
    background-color: #242424cc;
    position: fixed;
    height: 70px;
    top: 0;
    left: 0;
    z-index: 11;
}

header.fixed .logo {
    width: 140px;
}

header.fixed nav ul {
    padding-top: 14px;
}

header {
    width: 100%;
    height: 97px;
    padding: 7px 0;
    background: 0;
    position: fixed;
    transition: 1s;
    z-index: 999;
}

header .logo {
    width: 200px;
    transition: 1s;
    float: left;
}

header nav {
    float: right;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background: #ce3745;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger {
    display: none;
}

header nav ul {
    padding-top: 30px;
    transition: 1s;
}

header nav ul li {
    display: inline-block;
    padding: 5px;
}

header nav ul li a {
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    transition: all .2s;
}

header nav ul li a:hover {
    color: #ce3745;
}

header nav ul li a.active {
    color: #ce3745;
}


/* .head-space {
    height: 97px;
} */

.banner-sec {
    height: calc(100% - 100px);
    margin-bottom: -4px;
}


/* .banner-sec img {
    height: 88vh;
} */

.banner-sec .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #fff;
}

.banner-sec .swiper-pagination-bullet-active {
    background: #ce3745;
    border: 2px solid #fff;
}

.cardio-sec {
    background-color: #1c1c1c;
    padding: 100px 0;
}

.cardio-sec ul.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cardio-sec ul.row li {
    width: 25%;
}

.cardio-sec ul.row li figure {
    width: 70px;
    margin: auto;
}

.cardio-sec ul.row li figcaption {
    text-align: center;
    padding-top: 20px;
}

.cardio-sec ul.row li figcaption h2 {
    color: #fff;
    font-size: 22px;
    font-family: 'roboto';
    text-transform: uppercase;
}

.why-sec {
    padding: 100px 0;
    background-color: #ce3745;
}

.why-sec .why-main {
    width: 76%;
    margin: auto;
    font-family: 'Roboto';
}

.why-sec .why-main .head {
    font-size: 34px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 12px;
    position: relative;
}

.why-sec .why-main .head::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 220px;
    height: 2px;
    background-color: antiquewhite;
}

.why-sec .why-main .para {
    color: #fff;
    padding-top: 40px;
    text-align: justify;
    line-height: 22px;
}

.video-sec {
    background: url(../images/video.jpg) no-repeat;
    background-position: center;
    background-size: 100%;
    height: 500px;
    position: relative;
}

.video-sec .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #20222480;
}

.video-sec .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-sec .btn a i {
    font-size: 80px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #ce3745;
    border: 1px solid #ce3745;
}

.trainer-sec {
    padding: 100px 0;
    background-color: #1c1c1c;
}

.trainer-sec .head {
    text-align: center;
    color: #fff;
    font-size: 34px;
    font-family: 'Roboto';
    padding-bottom: 15px;
    position: relative;
}

.trainer-sec .head::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 170px;
    height: 2px;
    background-color: #ce3745;
}

.trainer-sec ul.trainee {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.trainer-sec ul.trainee li {
    width: 23%;
    margin: 1%;
    overflow: hidden;
    position: relative;
}

.trainer-sec ul.trainee li:hover .info {
    bottom: 0;
    visibility: visible;
}

.trainer-sec ul.trainee li .info {
    position: absolute;
    bottom: -190px;
    width: 100%;
    height: 50%;
    padding: 40px;
    text-align: center;
    background-color: #ce3745;
    font-family: 'roboto';
    transition: 1s;
    visibility: hidden;
}

.trainer-sec ul.trainee li .info h3 {
    color: #fff;
    font-size: 22px;
}

.trainer-sec ul.trainee li .info p {
    padding: 5px 0 15px;
    color: #272727;
}

.trainer-sec ul.trainee li .info button {
    width: 145px;
    height: 40px;
    border: 1px solid #fff;
    color: #ce3745;
    cursor: pointer;
    transition: .4s;
}

.trainer-sec ul.trainee li .info button:hover {
    border-color: #fff;
    background-color: #ce3745;
    color: #fff;
}


/* Responsive mobile */

@media (max-width: 767px) {
    .container {
        width: 90%;
    }
    .banner-sec img {
        height: auto;
    }
    header .logo {
        width: 120px;
    }
    header nav {
        transition: .4s;
    }
    header nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 100vh;
        z-index: 3;
        transition: .4s;
        background: #252525;
    }
    header nav ul li {
        display: block;
        transition: .4s;
        padding: 12px 24px;
        line-height: 3;
        text-align: center;
    }
    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 4%;
        top: 18px;
        z-index: 999999;
        transition: all 0.7s ease;
    }
    .banner-sec {
        margin-bottom: -4px;
    }
    .cardio-sec {
        padding: 50px 0;
    }
    .cardio-sec ul.row li {
        width: 50%;
        padding: 30px 0;
    }
    .cardio-sec ul.row li figure {
        width: 68px;
    }
    .cardio-sec ul.row li figcaption h2 {
        font-size: 18px;
    }
    .why-sec {
        padding: 50px 0;
    }
    .why-sec .why-main {
        width: 100%;
    }
    .why-sec .why-main .head {
        font-size: 28px;
    }
    .why-sec .why-main .head::after {
        width: 180px;
    }
    .why-sec .why-main .para {
        font-size: 14px;
        padding-top: 30px;
    }
    .video-sec {
        height: 230px;
    }
    .video-sec .btn a i {
        font-size: 50px;
        width: 50px;
        height: 50px;
    }
    .trainer-sec {
        padding: 50px 0;
    }
    .trainer-sec .head {
        font-size: 24px;
    }
    .trainer-sec .head::after {
        width: 140px;
    }
    .trainer-sec ul.trainee {
        padding-top: 30px;
    }
    .trainer-sec ul.trainee li {
        width: 100%;
        margin-bottom: 10px;
    }
}


/*Animating Hamburger Icon on Click*/

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    width: 0;
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}